.cards {
  border-radius: 10px 10px;
  .bg {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px 10px;
    height: 591px;
    .scroll {
      height: 488px;
      overflow-y: scroll;
      .chat-card {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        cursor: pointer;
        .title {
          font-weight: bold;
          color: var(--secondary-color);
        }
      }
      .accepted {
        border-right: 2px solid rgb(0, 255, 0);
      }
      .rejected {
        border-right: 2px solid rgb(255, 0, 0);
      }
      .pending {
        border-right: 2px solid rgb(255, 255, 0);
      }
      .done {
        border-right: 2px solid #1b64aa;
      }
    }

    .add {
      cursor: pointer;
      color: var(--secondary-color);
      font-size: 30px;
      font-weight: bold;
    }
  }
}
